[user]
	name = Zachary Whaley
[color]
	ui = auto
[merge]
	tool = nvimdiff
[mergetool]
	prompt = true
	keepBackup = false
[mergetool "nvimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[push]
	default = simple
[core]
	editor = nvim
[alias]
	apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0r git rm --cached
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	di = diff
	dif = diff
	lfs-fetch = "!git log --all --format=%H --diff-filter=A -n 1 -- \"$1\" | xargs -I% git checkout % && git checkout - #"
	lg = log --oneline --graph --format='format:%C(auto)%h%d %s%C(dim white) · %an · %C(green)%cr%C(reset)'
	lgg = log --oneline --graph --date='format:%Y %b %d' --format='format:%C(auto)%h%d %s%C(dim white) · %an <%ae> · %C(green)%cd%C(reset)'
	pr = "!hub pull-request -a $(id -un) -b \"$1\" #"
	pul = pull
	sd = diff --staged
	sho = show
	st = status
	trim = !git fetch --all --prune && git branch -vv | grep -v $(git symbolic-ref --short HEAD) | awk '/.*: gone]/ {print $1}' | xargs git branch -D -v
[rebase]
	autosquash = true
[blame]
	date = relative
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[hub]
	host = dsgithub.trendmicro.com
