[submodule "vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "a.vim"]
	path = vim/bundle/a.vim
	url = git@github.com:vim-scripts/a.vim.git
[submodule "nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "OmniCppComplete"]
	path = vim/bundle/OmniCppComplete
	url = git@github.com:vim-scripts/OmniCppComplete.git
[submodule "jellybeans.vim"]
	path = vim/bundle/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
