[submodule "vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
    ignore = untracked
[submodule "a.vim"]
	path = vim/bundle/a.vim
	url = git@github.com:vim-scripts/a.vim.git
    ignore = untracked
[submodule "nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
    ignore = untracked
[submodule "vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
    ignore = untracked
[submodule "taglist.vim"]
	path = vim/bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
    ignore = untracked
[submodule "vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
    ignore = untracked
[submodule "vim-protobuf"]
	path = vim/bundle/vim-protobuf
	url = git@github.com:uarun/vim-protobuf.git
[submodule "vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim-snippets"]
	path = vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim-cpp-enhanced-highlight"]
	path = vim/bundle/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight.git
[submodule "vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git@github.com:zachwhaley/auto-pairs.git
